In [6]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors
from random import *
import pandas as pd

In [7]:
# load data into df
data = pd.read_csv('data_ffnn_3classes.txt', sep=" ", header=None)
data.columns = ["X1", "X2", "y"]
data.head()

       X1      X2    y
0  1.9643  4.5957  1.0
1  2.2753  3.8589  1.0
2  2.9781  4.5651  1.0
3  2.9320  3.5519  1.0
4  3.5772  2.8560  1.0

In [10]:
## load data into numpy array
# fic = open("data_ffnn_3classes.txt", "r")
# my_data = np.loadtxt(fic)
# fic.close()

In [13]:
K = 5 # arbitrary

X = data[['X1','X2']]
X

        X1      X2
0   1.9643  4.5957
1   2.2753  3.8589
2   2.9781  4.5651
3   2.9320  3.5519
4   3.5772  2.8560
..     ...     ...
66  4.7483  0.7251
67  4.2916  1.0857
68  4.7126  0.8640
69  4.1005  1.0058
70  3.9601  1.4057

[71 rows x 2 columns]